body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: whitesmoke;
    font-size: medium;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    text-align: center;
}

    

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.image-slide {
    display: flex;
    animation: slide 15s infinite;
}

.image-slide img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(103, 180, 14, 0.432);
    color: rgb(255, 255, 255);
}


.nav-btn {
    margin: 10px;
    padding: 12px;
    background: linear-gradient(135deg, #6a5acd, #483d8b);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-btn:hover {
    transform: rotateY(180deg) scale(1.2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
    text-align: center;

}

.contact-icons a {
    margin: 15px;
    text-decoration: none;
    color: #7f9227;
    font-size: 2.2em;
    transition: color 0.3s, text-shadow 0.3s;
}

.contact-icons a:hover {
    color: #6a5acd;
    text-shadow: 1px 1px 5px #6a5acd;
}
